::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
body {
  background-color: #fffff0;
  text-align: center;
}
.container {
  top:50px;
  position: relative;
  width: 900px;
  height: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.basetext {
  margin: auto;
  width: 400px;
  text-align: left;
}
.baseimg {
  position: absolute;
}
.normaltext {
  font-size: 16px;
}
.smalltext {
  font-size: 12px;
  margin: 0px -2px 0px 0px;
}
.bottomleft {
  bottom: 15px;
  left: 15px;
}
.fixedpos {
  position: fixed;
}
.hiddenlink {
  text-decoration: none;
  color: black;
}
.headerimg {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
.tabbed {
  text-align: left;
  width: 275px;
  padding-left: 25px;
}